= content_for(:heading, "About Me")
= content_for(:sub_heading, "This is what I do.")

%article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %h1 
          I do web application development and web designing as per the entrepreneurs requirements.
        %h4
          Hi, I’m Venkata Kishore M. 
          
        %div
          %p I provide following services:  
          %ul
            %li Web Application Development
            %li Responsive Web Designing
            %li App Deployment
            %li Application Support
            %li Web Services for IOS, Android apps
            %li Ruby on Rails Training
            
