.blogs_index {
  background-image: url('home-bg.jpg') !important;
}
.blogs_show {
  background: green !important;
  opacity: 0.6;
}
.pages_about_me, .pages_contact {
  background-image: url('about-bg.jpg') !important;
}
