@mixin slide($d) {
  -webkit-transition: $d all;   
  -webkit-transition-delay: $d; 
  -moz-transition: $d all;   
  -moz-transition-delay: $d; 
  -ms-transition: $d all;   
  -ms-transition-delay: $d; 
  -o-transition: $d all;   
  -o-transition-delay: $d; 
  transition: $d all;   
  transition-delay: $d; 
}
@mixin slide-delay($d) {
  -webkit-transition-delay: $d;
  -moz-transition-delay: $d;
  -ms-transition-delay: $d;
  -o-transition-delay: $d;
  transition-delay: $d;
}

.blogs_index {
  background-image: url('home-bg.jpg') !important;
}
.blogs_show {
  background: rgba(0,128,0,0.65) !important
}
.pages_about_me, .pages_contact {
  background-image: url('about-bg.jpg') !important;
}



$brand-danger: red;
$bg-danger: red;
$gray-base: white;

.blog-content, .comments, .comments p {
  font-size: 14px;
  
  p, p span, span, pre, pre span, code, em {
    font-size: 14px !important;
  }
}

.likemenu {
  margin: 0;
  position: fixed;
  top: 40%;
  right: -46px;
  z-index: 100;
  display: block;
  width: 100px;
  padding: 10px; 
  height: 115px;
  border: 1px solid #ccc; 
  border-right-width: 0px;
  background: #fff;
  cursor: pointer;
  @include slide(1s);
  &:hover {
    right: 0;
    @include slide(0s);
  }
  
  p {
    margin: 0px 0 7px 0;
    cursor: pointer;
    a {
      display: inline-block;
      cursor: pointer;
      width: 40px;
      height: 42px;
      text-decoration: none;
      
      span {
        margin-top: 10px;
        display: inline-block;
        font-size: 20px;
        margin-left: 42px;
        color: #000;
      }
      
      &.like {
        background: url("like.png") no-repeat;
      }
      &.dislike {
        background: url("dislike.png") no-repeat;
      }
    }
  }  
}

.site-heading .views {
  margin-top: 9px;
  font-weight: bold;
  display: inline-block;
}


.backtohome {
  margin: 0;
  position: fixed;
  top: 25%;
  right: -106px;
  z-index: 100;
  display: block;
  text-decoration: none !important;
  color: #fff !important;
  background-color: #000;
  padding: 10px 20px 10px 10px;
  font-size: 12px;
  @include slide(1s);
  &:hover {
    right: 0px;
    @include slide-delay(0s);
  }
}

.has-signup-error, .field_with_errors{
    .signup-error{
      //background: transparent;
      //color: $brand-danger;
      border: none;
    }

    input, select{
      //background-color: $bg-danger;
      border-color: $brand-danger !important;
      //color: $gray-base;
      font-weight: 500;
    }

    &.checkbox{
      label{
        &:before{
          background-color: $bg-danger;
          border-color: $brand-danger;
        }
      }
    }
}  



p {
    margin: 0 0 1em;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}


@media (min-width: 768px){
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.col-sm-2 {
    width: 16.66666667%;
}
}
.btn-circle {
    font-weight: bold;
    font-size: 12px !important;
    padding: 6px 15px !important;
    border-radius: 20px !important;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px solid #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p {
  margin: 5px 0px;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

.new_comment {
  width: 100%;
  margin: 20px 0px;
}


/* Decoration */

.comments_list,
.comment {
    position: relative;
}

.comments_list:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments_list:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}  

.dataTables_filter input  {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
